.single-Country{
    border: 2px black solid;
    padding: 5rem;
    height: auto;
    width: 500px;
    margin-top: 100px;
    margin-left: 300px;
}
.check-btn{
    background-color: green;
    color: honeydew

}